.venv/*
dataset/*
dataset/cifar-10-python.tar.gz
C:/Users/teism/PatternAnalysis-2025-1/keras_png_slices_data
C:/Users/teism/PatternAnalysis-2025-1/.venv
C:/Users/teism/PatternAnalysis-2025-1/keras_png_slices_data/*
C:/Users/teism/PatternAnalysis-2025-1/.venv/*
PatternAnalysis-2025-1/.venv/*
PatternAnalysis-2025-1/keras_png_slices_data/*
keras_png_slices_data/*
keras_png_slices_data/
C:/Users/teism/PatternAnalysis-2025-1/recognition/__pycache__/
C:/Users/teism/PatternAnalysis-2025-1/recognition/__pycache__/*
C:\Users\teism\PatternAnalysis-2025-1\recognition\Unet_4801908\__pycache__
C:/Users/teism/PatternAnalysis-2025-1/recognition/Unet_4801908/__pycache__
C:/Users/teism/PatternAnalysis-2025-1/recognition/Unet_4801908/__pycache__/*
__pycache__/*
__pycache__